body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2% 8%;
  font-weight: 800;
  color: #FFFFFF;
}

.hero-container__logo {
  font-size: 18px;
  cursor: pointer;
}

#header {
  background: url(../Assets/Images/ana-grave-156852-unsplash.jpg);
  background-size: cover;
  min-height: 112vh;
  min-width: 112vh;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 14rem;
  cursor: pointer;
}

.hero {
  font-size: 18px;
  color: #D7D7D7;
  text-decoration: none;
}

.hero:hover {
  background: rgba(0, 0, 0, 0);
  color: #000000 !important;
  -webkit-box-shadow: inset 0 0 0 2px #D7D7D7;
          box-shadow: inset 0 0 0 2px #D7D7D7;
}

.hero.active {
  color: #FFFFFF;
}

.album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 98vh;
}

#date {
  font-size: 5rem;
  font-weight: 800;
}

#name {
  font-size: 2.5rem;
}

a .button {
  width: 198px;
  height: 55px;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 3rem;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid #FFFFFF;
  cursor: pointer;
}

a .button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #000000;
  color: #000000;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
  margin: 0 10% 6% 8%;
}

.about__left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 4rem;
}

.about__header {
  padding-top: 15%;
}

.about__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
}

.paragraph-one {
  font-size: 24px;
  font-weight: 700;
}

.paragraph-two {
  font-size: 20px;
  line-height: 2em;
  padding-top: 16%;
  padding-right: 3rem;
}

#music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
  background-color: #F9F9F9;
}

#music-header, .about__header, #gallery__header, #contact__header, #comment__header, #shows__header {
  font-size: 64px;
  font-weight: bold;
}

.music-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5% 5% 10% 8%;
}

iframe {
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

iframe:hover {
  -webkit-box-shadow: 20px 10px 5px #A0A0A0;
          box-shadow: 20px 10px 5px #A0A0A0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.music-right {
  font-size: 20px;
  line-height: 2em;
  padding: 17% 23% 10% 0;
}

#gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#gallery__header {
  padding: 2em 0 0 1.8em;
}

.photo-gallery {
  margin: 3em 0 9em 7em;
}

.cropped-photos {
  width: 285px;
  height: 285px;
  padding: .5em;
  -o-object-position: 0 100%;
     object-position: 0 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blur img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.blur img:hover {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

#contact {
  min-height: 100vh;
  min-width: 100vh;
  background-color: #272727;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact__header {
  margin: 8rem 0 2rem 8rem;
  width: 100%;
}

.managment {
  margin: 0 5rem 0 8rem;
}

.managment p {
  font-size: 18px;
  line-height: 1.3em;
}

.bookings {
  margin-right: 5rem;
}

.bookings p {
  font-size: 18px;
  line-height: 1.3em;
}

.agent {
  padding-right: 3rem;
}

.agent p {
  font-size: 18px;
  line-height: 1.3em;
}

#page-footer {
  margin: 0 0 2rem 8rem;
}

#page-footer li {
  list-style: none;
  float: left;
  padding-bottom: 8rem;
}

#page-footer .sm-icon {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 2em 5em 0 0;
  cursor: pointer;
}

#copywrite {
  font-size: 10px;
}

#comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F9F9F9;
}

#comment__container {
  margin: 4% 51% 6% 8%;
}

form #user-input {
  border-radius: 4px;
  width: 36rem;
  height: 3rem;
  font-size: 1.5rem;
}

form #comment-result {
  font-size: 12px;
  border-top: 1px solid #D7D7D7;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

form #comment-result div {
  border-bottom: 1px solid #D7D7D7;
  margin: 1.5rem 0;
}

form #comment-result p {
  margin: 0.2rem 0;
}

h3 {
  display: inline;
}

h4 {
  display: inline;
  padding-left: 20px;
  color: #A0A0A0;
  font-size: 14px;
  font-weight: 500;
}

#comment-input {
  border-radius: 4px;
  width: 36rem;
  font-size: 1rem;
  width: 36rem;
  resize: none;
}

#comment-button {
  width: 198px;
  height: 55px;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  background: #000000;
  border: 2px solid;
  margin: 0.5rem 0 2rem 0;
  cursor: pointer;
}

#comment-button:hover {
  background: #FFFFFF;
  color: #000000;
}

#shows {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url(../Assets/Images/hanny-naibaho-388579-unsplash.png);
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../Assets/Images/hanny-naibaho-388579-unsplash.png);
  position: relative;
  background-size: cover;
  min-height: 143vh;
  min-width: 143vh;
  color: #FFFFFF;
}

#shows__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  padding: 1rem 7rem 0 7rem;
  width: 100%;
}

.shows-hero {
  font-size: 18px;
  color: #D7D7D7;
  text-decoration: none;
}

.shows-hero:hover {
  background: rgba(0, 0, 0, 0);
  color: #D7D7D7 !important;
  -webkit-box-shadow: inset 0 0 0 2px #D7D7D7;
          box-shadow: inset 0 0 0 2px #D7D7D7;
  z-index: 2;
}

.shows-hero.active {
  color: #FFFFFF;
}

table {
  margin-left: 7rem;
  table-layout: fixed;
  z-index: 2;
}

table th {
  text-align: left;
  padding: 0 0 1rem 12rem;
}

table .first-row {
  padding: 0;
}

table, tr {
  line-height: 2rem;
  border-bottom: 1px solid #D7D7D7;
  border-collapse: collapse;
  z-index: 1;
}

table:last-child, tr:last-child {
  border-bottom: none;
}

.shows-button {
  width: 198px;
  height: 55px;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  margin: 1.5rem 0;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid #FFFFFF;
  cursor: pointer;
}

.shows-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #000000;
  color: #000000;
}

#scroll-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: 800;
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
}

#scroll-button:hover {
  background-color: #555;
}

@media (max-width: 480px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #name {
    text-align: center;
  }
  .managment {
    display: none;
  }
  .agent {
    display: none;
  }
  .bookings {
    display: none;
  }
  table th {
    width: 100%;
    display: block;
    padding: 0;
    font-size: 2rem;
  }
  table th button {
    width: 15px;
  }
  table th .shows-button {
    font-size: 2rem;
    width: 235px;
    height: 70px;
  }
}

@media (max-width: 768px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .paragraph-two {
    padding: 0;
  }
  #music {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #music .music-right {
    margin: 0 2rem 0 4rem;
    padding: 0;
  }
  .photo-gallery {
    margin-left: 5rem;
  }
  .bookings {
    padding-top: 3rem;
    margin-left: 8rem;
  }
  .agent {
    padding-top: 3rem;
    margin-left: 8rem;
  }
  #comment__container {
    margin-right: 16%;
  }
}

@media (max-width: 1024px) {
  .agent {
    padding-top: 3rem;
    margin-left: 8rem;
  }
  #page-footer {
    position: relative;
  }
  .music-right {
    padding: 14rem 5rem 0 0;
  }
  #comment__container {
    margin-right: 35%;
  }
}
/*# sourceMappingURL=style.css.map */